#addDefectContent {
  display: flex;
}

#addDefectFormTable{
	border-spacing: 0em;
}

#addDefectForm{
    padding-right:1em;
}

#defectsList {
    width: 30em;
    align-self: start;
    border-collapse: collapse;
    font-size: 1em;
    box-shadow: 0 0 0.5em #5584AC;
}


#defectsList th {
    padding: 0.25em 0.1em;
    text-align: center;
    color: #dfffff;
    background-color: #5584AC;
}

#defectsList td {
    text-align: center;
}

#defectsList tbody tr {
    border-bottom: 0.05em solid #5584AC;
}

#defectsList tbody tr:nth-of-type(odd) {
    background-color: #95D1CC;
}

#defectsList tbody td:first-of-type,
#defectsList tbody th:first-of-type {
    border-right: 0.125em solid #5584AC;
    width: 3em;
    text-align:center;
}

#defectsList tbody tr:last-of-type,
#defectsList tbody tr:first-of-type{
    border-bottom: 0.125em solid #5584AC;
}