<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" type="text/css" media="all" href="../static/css/addDefectStyle.css" th:href="@{/css/addDefectStyle.css}"/>
	<script type="text/javascript" src="/js/defectApi.js"></script>
	<script type="text/javascript" src="/js/addDefect.js"></script>
</head>
<body>
<form id="addDefectForm" method="post">
	<table id="addDefectFormTable">
		<tr>
			<td><label for="x">X:</label></td>
			<td><input type="text" id="x" name="x"></td>
		</tr>
		<tr>
			<td><label for="y">Y:</label></td>
			<td><input type="text" id="y" name="y"></td>
		</tr>
		<tr>
			<td><label for="z">Z:</label></td>
			<td><input type="text" id="z" name="z"></td>
		</tr>
		<tr>
			<td><label for="value">Value:</label></td>
			<td><input type="text" id="value" name="value"></td>
		</tr>
		<tr>
			<td rowspan="2"><input type="submit" value="Submit"/></td>
		</tr>
	</table>
</form>
<p id="addDefectResult"></p>

<table id="defectsList">
	<tr>
		<th>ID</th>
		<th>X</th>
		<th>Y</th>
		<th>Z</th>
		<th>Value</th>
		<th>Remove</th>
	</tr>
</table>
</body>
</html>