body {
	margin: 0px;
	background-color: #dfffff;
}

#content {
	margin: 1em;
}

ul.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5584AC;
}

li.nav-bar {
  float: left;
  border-right:0.1em solid #95D1CC;
}

li.nav-bar a.nav-bar {
  display: block;
  color: white;
  text-align: center;
  padding: 1em 1em;
  text-decoration: none;
}

li.nav-bar a.nav-bar:hover:not(.active) {
  background-color: #22577E;
}

.active {
  background-color: #04AAD0;
}