<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Getting Started: Serving Web Content</title>
	<meta http-equiv="Content-Type" content="application/json; charset=UTF-8"/>
	<link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}"/>
	<script type="text/javascript" src="/js/jquery/jquery-3.6.0.js"></script>
	<!--Load the AJAX API-->
	<script type="text/javascript" src="/js/index.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
</body>